<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traveler's Encore</title>

    <!-- PWA -->
	<script>
		if("serviceWorker" in navigator) {
			navigator.serviceWorker.register("./service-worker.js");
		}
	</script>
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#000000">

    <% if (!IS_DEV) { %>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-QEJ9C2RCDR"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-QEJ9C2RCDR', {
			cookie_domain: window.location.hostname,
			cookie_flags: "SameSite=None;Secure",
		});
	</script>
    <% } %>

    <!-- Icons -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="shortcut icon" sizes="192x192" href="./assets/favicons/favicon-192.png" type="image/png">
	<link rel="icon" sizes="192x192" href="./assets/favicons/favicon-192.png" type="image/png">
    <link rel="apple-touch-icon" href="./assets/favicons/favicon-192-filled.png">

    <!-- Open Graph Tags -->
    <meta name="author" content="Aryan Pingle" />
    <meta name="description" property="description" content="Create your own Traveler's Encore" />
    <meta name="og:title" property="og:title" content="Traveler's Encore" />
    <meta name="og:site_name" property="og:site_name" content="Traveler's Encore">
    <meta name="og:description" property="og:description" content="Create your own Traveler's Encore" />
    <meta name="og:url" property="og:url" content="https://travelers-encore.netlify.app/" />
    <meta name="og:type" property="og:type" content="website" />
    <meta name="og:image" property="og:image" content="https://travelers-encore.netlify.app/assets/social-media/Banner.png">
	<!-- Twitter SEO -->
	<meta name="twitter:card" property="twitter:card" content="summary_large_image">
	<meta name="twitter:site" property="twitter:site" content="@aryan_pingle">
	<meta name="twitter:creator" property="twitter:creator" content="@aryan_pingle">
	<meta name="twitter:title" property="twitter:title" content="Traveler's Encore">
	<meta name="twitter:description" property="twitter:description" content="My love letter to Outer Wilds - create your own Traveler's Encore.">
	<meta name="twitter:image" property="twitter:image" content="https://travelers-encore.netlify.app/assets/social-media/Banner.png">
	<meta name="twitter:image:alt" property="twitter:image:alt" content="Social media banner for the Traveler's Encore website by Aryan Pingle">

	<style>
		/*
		Font URLs taken from 
		https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;1,400&display=swap&text=abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789-,%2E%2F
		*/
		@font-face {
			font-family: 'Space Mono';
			font-style: italic;
			font-weight: 400;
			font-display: swap;
			src: url(./assets/fonts/space-mono-400-italic.woff2) format('woff2');
		}
		@font-face {
			font-family: 'Space Mono';
			font-style: normal;
			font-weight: 400;
			font-display: swap;
			src: url(./assets/fonts/space-mono-400-normal.woff2) format('woff2');
		}
	</style>
    <link rel="stylesheet" href="index.css">
</head>
<body>
	<div id="page">
		<main>
			<div class="panel-info">
				<div class="panel-info__logo logo-container">
					<img src="assets/images/Outer Wilds EOTE Logo.png" alt="The Outer Wilds Logo">
				</div>
				<div class="panel-info__about">
					"Come, sit with me, my fellow traveler. Let's sit together and watch the stars die."
				</div>
				<div class="control-panel">
					<div class="control-panel__inner">
						<button class="control-item media-button" id="button--volume-0">
							<div class="control-icon" svg-name="volume-0">
								<%- getFileContents("src/assets/icons/volume-0.svg") %>
							</div>
							<div class="control-title">Volume 0</div>
						</button>
						<button class="control-item media-button paused" id="button--play-pause">
							<div class="control-icon show-when--paused" svg-name="play">
								<%- getFileContents("src/assets/icons/play.svg") %>
							</div>
							<div class="control-icon show-when--playing" svg-name="pause">
								<%- getFileContents("src/assets/icons/pause.svg") %>
							</div>
							<div class="control-title show-when--paused">Play</div>
							<div class="control-title show-when--playing">Pause</div>
						</button>
						<button class="control-item media-button" id="button--volume-100">
							<div class="control-icon" svg-name="volume-100">
								<%- getFileContents("src/assets/icons/volume-100.svg") %>
							</div>
							<div class="control-title">Volume 100</div>
						</button>
						<button class="control-item control-item--deviation" id="button--sync">
							<div class="deviation-text">Travelers are out of sync by 0 ms</div>
							<div class="control-title">Press this button to synchronize them</div>
						</button>
						<button class="control-item control-item--speed" id="button--speed" tabindex="-1">
							<div class="playback-bar">
								<div class="playback-speed">1.00x</div>
								<input type="range" class="playback-speed-input" min="0.00" max="2.00" value="1.00" step="0.01">
							</div>
							<div class="control-title">Playback Speed</div>
						</button>
					</div>
				</div>
			</div>
			
			<div class="panel-interactive">
				<div class="traveller-grid">
					<!-- Autogenerated cards -->
				</div>
			</div>
		</main>

		<div class="supernova-overlay">
			<%- getFileContents("src/assets/supernova.svg") %>
		</div>
		
		<footer>
			All rights belong to Mobius Digital, Annapurna Interactive and Andrew Prahlow.<br>
			Thanks to <a href="https://github.com/RiosDeterioratingMentalHealth" target="_blank">riwo</a> for her icons. <a href="https://github.com/aryanpingle/Travelers-Encore">This project is open-source.</a><br>
			I love this game so goddamn much.
		</footer>
	</div>

	<!-- Inline JS -->
	<%- "<script>" + getBundledCode("index.js") + "</script>" %>
</body>
</html>